DEEPSEEK_API_KEY=your-deepseek-api-key
QIANWEN_API_KEY=your-qianwen-api-key
SILICONFLOW_API_KEY=your-siliconflow-api-key

MYSQL_USERNAME=root
MYSQL_PASSWORD=your-mysql-password

MILVUS_HOST=127.0.0.1
MILVUS_PORT=19530
